{
    frankenphp {
        num_threads 16
        worker {
            file /app/public/frankenphp-worker.php
            {$CADDY_SERVER_WORKER_DIRECTIVE}
        }
    }
}

# O Caddy substitui dinamicamente pelo valor da variável de ambiente
{$SERVER_NAME} {
    bind 0.0.0.0
    root * /app/public
    encode zstd gzip
    php_server {
        index frankenphp-worker.php
    }
}
